doctype html
html
	head
		title= siteName
		style!= css

	body
		if nav
			nav
				each link in nav
					a(href="/" + link)= link

		if user
			p Logged in as 
				span= user.name

		h1 Layout
		h2 Header

		p
			img.avatar(src="/images/avatar.webp", width=16, height=16, alt="Avatar")

		#content!= content
		script!= js